<%= simple_form_for(@message) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%
      main_contact = Contact.find_by_phone_number(ENV["TWILIO_PHONE_NUMBER"])
      if main_contact.present?
        default_from = "#{main_contact.name} <#{main_contact.phone_number}>"
      else
        default_from = ENV["TWILIO_PHONE_NUMBER"]
      end
    %>

    <%= f.input :from_phone_number, input_html: {value: f.object.from_phone_number || default_from } %>
    <%= f.association :groups %>
    <%= f.association :contacts, :collection => Contact.where("phone_number <> '#{ENV['TWILIO_PHONE_NUMBER']}'").map{|a| ["#{a.name} <#{a.phone_number}>", a.id, {"data-name" => a.name,"data-phone-number" => a.phone_number}]} %>
    <%= f.input :to_phone_number, :readonly => true, :required => true %>

    <%= f.input :body, :as => :text, :input_html => {:maxlength => 140, :size => 40}, required: true%>

    <%    img = { nil => nil,
            :status_open_image => "https://www.opm.gov/img/Policy/SnowAndDismissal/status_open.jpg",
            :status_closed_image => "https://www.opm.gov/img/Policy/SnowAndDismissal/status_closed.jpg",
            :status_alert_image => "https://www.opm.gov/img/Policy/SnowAndDismissal/status_alert.jpg"
          }
          img_options = img.collect{|k,v| [k.to_s.titleize,v]}
     %>
     <div class="form-group string optional message_img_for_media_url">
       <label class="string optional control-label" for="message_img_for_media_url">Image Library</label>
       <%= select_tag 'message_img_for_media_url', options_for_select(img_options), :class => "string optional form-control" %>
     </div>
    <%= f.input :media_url %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send", :class => 'btn btn-primary' %>
  </div>
<% end %>
