<%= simple_form_for(@message) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :body, :as => :text, :input_html => {:maxlength => 140, :size => 40}%>

    <%= f.association :groups %>
    <%= f.association :contacts %>
    <%= f.input :to, :readonly => true %>
    <%= f.input :from, input_html: {value: f.object.from || ENV["TWILIO_PHONE_NUMBER"] } %>
    <%= f.input :media_url %>
    <%= f.input :status, :readonly => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
