<h1>Messages</h1>

<table class="table table-striped" data-link="row">
  <thead>
    <tr>
      <th>Date</th>
      <th>To</th>
      <th>From</th>
      <th>Body</th>
      <th>Status</th>
      <th>Direction</th>
      <th></th>
    </tr>
  </thead>

  <tbody data-link="row" class="rowlink">
    <% @messages.each do |message| %>
      <tr>
        <td><%= l message.created_at, format: :short %></td>
        <td><%= truncate(message.to, length:15) %></td>
        <td><%= message.from %></td>
        <td><%= link_to truncate(message.body, length:15), message %></td>
        <td><%= message.status %></td>
        <td><%= case message.direction
                  when "incoming"
                    glyph(:arrow_left)
                  when "outgoing"
                    glyph(:arrow_right)
                end%></td>
        <td><%= link_to glyph(:file), message %>
            <%= link_to glyph(:trash), message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Send Message', new_message_path, :class => "btn btn-primary" %>
