<h1>Messages</h1>
<%= link_to 'Send Message', new_message_path, :class => "btn btn-primary" %>
<br>
<%= will_paginate @messages %>

<table class="table table-striped" data-link="row">
  <thead>
    <tr>
      <th>Date</th>
      <th>From</th>
      <th>To</th>
      <th>Body</th>
      <th>Status</th>
      <th>Direction</th>
      <th></th>
    </tr>
  </thead>

  <tbody data-link="row" class="rowlink">
    <% @messages.each do |message| %>
      <tr>
        <td><%= l message.created_at, format: :short %></td>
        <td><%= message.from_phone_number %></td>
        <td><%= truncate(message.to_phone_number, length:15) %></td>
        <td><%= link_to truncate(message.body, length:15), message %></td>
        <td class="rowlink-skip"><%= link_to message.status || "No Status", message_logs_path(:message_id => message.id) %></td>
        <td><%= case message.direction
                  when "incoming"
                    glyph(:arrow_left)
                  when "outgoing"
                    glyph(:arrow_right)
                  when "forwarding"
                    glyph(:transfer)
                end%></td>
        <td class="rowlink-skip"><%= link_to glyph(:file), message %>
            <%= link_to glyph(:trash), message, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @messages %>
