<p>
  <strong>To:</strong>
  <%= @message.to_phone_number %>
</p>

<p>
  <strong>From:</strong>
  <%= @message.from_phone_number %>
</p>

<p>
  <strong>Sent:</strong>
  <%= @message.created_at %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Status:</strong>
  <%= @message.status %>
</p>

<p>
  <strong>Direction:</strong>
  <%= @message.direction %>
</p>

<p>
  <strong>
    Message Logs:
  </strong>
</p>

<div class="well">
<% @message.message_logs.each do |m| %>
  <%= link_to m.to_phone_number, message_log_path(m), :class => "btn btn-default" %>
<% end %>
</div>
