<%= simple_form_for(@message_log) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :to_phone_number %>
    <%= f.input :from_phone_number %>
    <%= f.input :status %>
    <%= f.input :sid %>
    <%= f.input :error_code %>
    <%= f.input :error_message %>
    <%= f.input :date_sent %>
    <%= f.input :account_sid %>
    <%= f.input :billing_reference %>
    <%= f.association :message %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
