<% if current_user.present? && current_user.is_admin? %>

<br>
<%= (link_to 'Send Message', new_message_path, :class => "btn btn-primary") %>
<br>
<% end %>
<% if user_signed_in? %>
<%= will_paginate @message_logs %>
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>From</th>
        <th>To</th>
        <th>Date</th>
        <th>Message</th>
      </tr>
    </thead>

    <tbody>
      <% @message_logs.each do |message_log| %>
      <tr>
        <td><%= message_log.from_phone_number %></td>
        <td><%= message_log.to_phone_number %></td>
        <td><%= l message_log.date_sent, :format => :shorter %></td>
        <td><%= message_log.message.body unless message_log.message.blank? %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @message_logs %>

<% end %>
