<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-inputs">
    <%= f.input :group_type, collection: Group.valid_types, include_blank: false, selected: @group.group_type %>
  </div>

  <div class="form-inputs">
    <%= f.association :contacts, :collection => Contact.where("phone_number <> '#{ENV['TWILIO_PHONE_NUMBER']}'").map{|a| ["#{a.name} <#{a.phone_number}>", a.id, {"data-name" => a.name,"data-phone-number" => a.phone_number}]} %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
