<%= simple_form_for(@group) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
  </div>

  <div class="form-inputs">
    <%= f.input :type, collection: Group.valid_types, include_blank: false, selected: @group.type %>
  </div>

  <div class="form-inputs">
    <%= f.association :contacts %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
