
<h1>Groups</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Members</th>
      <th>Type</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody data-link="row" class="rowlink">
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.contacts.count %></td>
        <td><%= group.group_type %></td>
        <td><%= glyph :glyph => :pencil, :url => edit_group_path(group) %></td>
        <td class="rowlink-skip"><%= link_to glyph(:trash), group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path, :class => "btn btn-primary" %>
