<fieldset id="#user-form">

<%= f.input :name %>
<%= f.input :email %>
<% role_array = Role.all.map { |r| [r.name.titleize, r.id] } %>
<%= f.association :roles, :collection => role_array %>

<%= f.input :uid %>
<%= f.input :provider %>
<% if @user.contacts.present? %>
<h2>Contacts</h2>
<% end %>
<%= f.simple_fields_for :contacts do |p| %>
<div class="well">
   <%= p.input :first_name %>
   <%= p.input :last_name %>
   <%= p.input :email %>
   <%= p.input :phone_number, input_html: {"data-mask" => "(999) 999-9999"}  %>
   <%= p.association :groups %>
   <%= p.association :user %>
 </div>



 <% end %>

</fieldset>
