<%= simple_form_for(@contact) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :phone_number, input_html: {"data-mask" => "+1 (999) 999-9999"} %>
    <% f.input :opt_in, include_blank: true, readonly: true #hidden%>
    <%= f.association :groups %>
    <%= f.association :user %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
