<h1>Contacts</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Groups</th>
      <th>Opt in</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.first_name %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.email %></td>
        <td><%= contact.phone_number %></td>
        <td><%= contact.groups.count %></td>
        <td><%= contact.opt_in.present? %></td>
        <td><%= contact.user.present? %></td>
        <td><%= link_to glyph(:file), contact %>
            <%= link_to glyph(:pencil), edit_contact_path(contact) %>
            <%= link_to glyph(:trash), contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_path, :class => 'btn btn-primary' %>
