<h1>Contacts</h1>

<%= link_to 'New Contact', new_contact_path, :class => 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th>Phone number</th>
      <th>Groups</th>
      <th>Opt in</th>
      <th>User</th>
      <th></th>
    </tr>
  </thead>

  <tbody data-link="row" class="rowlink">
    <% @contacts.each do |contact| %>
    <tr>
      <td><%= contact.first_name %></td>
      <td><%= contact.last_name %></td>
      <td><%= contact.email %></td>
      <td><%= contact.phone_number %></td>
      <td><%= contact.groups.count %></td>
      <td><%= glyph(contact.opt_in.present? ? "check" : "unchecked") %></td>
      <% if contact.user.present? %>
        <td class="rowlink-skip"><%= link_to glyph(:check), edit_user_path(contact.user) %></td>
      <% else %>
        <td><%= glyph(:unchecked) %></td>

      <% end %>
      <td class="rowlink-skip"><%= link_to '', edit_contact_path(contact) %>
        <%= link_to glyph(:trash), contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<h2>Import Contacts</h2>

<%= form_tag import_contacts_path, multipart: true, class: "form-inline" do %>
<div class="fileinput fileinput-new" data-provides="fileinput">
  <span class="btn btn-default btn-file"><span class="fileinput-new">Select file</span><span class="fileinput-exists">Change</span><input type="file" name="..."></span>
  <span class="fileinput-filename"></span>
  <a href="#" class="close fileinput-exists" data-dismiss="fileinput" style="float: none">&times;</a>
</div>
<%= submit_tag "Import", :class => "btn btn-primary" %>
<% end %>
