<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @contact.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @contact.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact.phone_number %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @contact.phone_number %>
</p>

<p>
  <strong>Opt in:</strong>
  <%= @contact.opt_in.present? %>
</p>

<p>
  <strong>User:</strong>
  <%= link_to @contact.user.id, user_path(@contact.user.id) unless @contact.user.blank? %>
</p>
