<% if user_signed_in? %>
  <% if current_user.try(:admin?) %>
    <li><%= link_to 'Messages', messages_path %></li>
    <li><%= link_to 'Message Log', message_logs_path %></li>
    <li><%= link_to 'Groups', groups_path %></li>
    <li><%= link_to 'Contacts', contacts_path %></li>
    <li><%= link_to 'Users', users_path %></li>
  <% end %>
<% end %>
<% if user_signed_in? %>
  <li><%= link_to 'Sign out', signout_path %></li>
<% else %>
  <li><%= link_to 'Sign in', signin_path %></li>
<% end %>
